.tableau-style{
	border-collapse: collapse;
	min-width: 400px;	
	width: auto;
	box-shadow: 0 5px 50px rgba(0, 0, 0,0.40);
	cursor: pointer;
	margin: 100px auto;
}

thead tr{
	background-color: #3A277E;
	color: #fff;
	text-align: left;

}

th, td{
	padding: 20px 25px;
}

tbody tr, td, th{
	border: 1px solid #ddd;
}